@using System.Security.Claims
@model WebHotelBeach.Models.Cliente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="Formulario">


        <h1>Delete</h1>

        <h3>Seguro que deseas Eliminar tu cuenta?</h3>
        <div>
            <h4>Cliente</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TipoCedula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TipoCedula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cedula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cedula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="button" value="Delete" class="btn btn-danger"  
                    data-bs-toggle="modal" data-bs-target="#ModalConfirmar"/> |
            @if (User.FindFirstValue("Rol").Equals("admin"))
            {
                <a asp-action="Index" class="btn btn-dark mt-3">Volver</a>
            }
            else
            {
                <a asp-action="Details" asp-controller="Cliente" asp-route-Id="@Model.Id" class="btn btn-dark mt-3">Volver</a>
            }
                

                <!--------Modal para confirmar la eliminacion de la cuenta----------------------------->

            <div class="modal fade" id="ModalConfirmar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Estas seguro que deseas eliminar tu cuenta?
                            Se borraran todos tus paquetes registrados anteriormente
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>


            </form>
        </div>
</div>

